.info {
  display: flex;
  height: 50vh;
}

.info-Left {
  flex: 1;
}

.info-Right {
  flex: 1;
}

.info-left-padding {
  padding: 100px;
}

.info-welcome {
  font-size: 30px;
  font-weight: 300;
}

.info-name {
  font-style: italic;
  font-size: 50px;
}

.info-title-button {
  font-style: italic;
  font-size: large;
}
